<div class="contents-title text-center" style="padding-top: 3rem">
<h3>お気に入りPOCCHI</h3>

<table class="table table-hover table-bordered" style="padding-top: 2rem">
  <tr>
    <th>ユーザー名</th>
    <th>問題文</th>
    <th>回答</th>
  </tr>


<% @favorites.each do |favorite| %>
  <tr>
    <td><h6><%= favorite.answer.user.name %>さん</h6></td> 
    <td><h5><%= favorite.answer.quiz.title %></h5></td>
    <td><%= image_tag favorite.answer.quiz.image.url if favorite.answer.quiz.image.url %></td>
    <td><h3><%= favorite.answer.select_answer %></h3></td>
  </tr>
<% end %>
</div>
</table>
